@import url(../../../styles/variables);

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0;
  font-weight: normal;
}

.detail-block {
  display: -ms-flexbox;
  display: flex;
  padding: 15px 12px 15px 0;
  border-bottom: 1px solid @m-grey-1;
  font-family: sans-serif;
}

.logoCafe-block{
  width: 108px;
  height: 108px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
  border: 1px solid @m-grey-1;

  img {
    width: 100%;
  }
}

.info-cafe-block {
  width: 84%;
}

.info-cafe-block__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info-cafe-block__list:nth-child(3) {
  margin-left: -100px;
}

.time-work-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: @m-darkGrey;
  font-size: 12px;
  font-weight: normal;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin: 0 7px 0 3px;
    background: url("img/clock.png") no-repeat;
    background-size: 100% 100%;
  }
}

.name-cafe {

  a {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }
}

.review {
  margin-bottom: 0;
  padding-bottom: 10px;
  color: @m-grey-1;
  font-size: 14px;
  font-weight: normal;
}

.adress {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  color: @m-darkGrey;
  font-size: 12px;
  font-weight: normal;

  &:before {
    content: "";
    display: block;
    width: 17px;
    height: 19px;
    margin: 0 4px;
    background: url("img/location.png") no-repeat;
  }
}

.distance {
  margin: 5px 0 5px 25px;
  font-size: 12px;
  color: @m-grey-1;
  font-weight: normal;
}

.kitchen {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0 0 10px 30px;
  color: @m-darkGrey;
  font-size: 12px;
  font-weight: normal;

  &:before{
    content:"";
    display: block;
    width: 20px;
    height: 18px;
    margin: 0 8px 0 -30px;
    background: url("img/plate.png");
  }

  span {
    text-transform: capitalize;

    &:after {
      content: ',';
      margin-right: 2px;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.purse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: @m-darkGrey;
  font-size: 12px;
  font-weight: normal;

  &:before{
    content:"";
    display: block;
    width: 20px;
    height: 16px;
    margin-right: 5px;
    background: url("img/purse.png");
  }

}

.rating-star {
  display: -ms-flexbox;
  display: flex;
}
input.star { display: none; }

div.stars {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  unicode-bidi: bidi-override;
  direction: rtl;
}

input.star:checked~ label.star:before {
  content: url("img/star-green.png");
}

label.star:before {
  content:  url("img/star-grey.png");
  margin-top: 5px;
}

.star-container {
  position: relative;
}

.cover-star {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 20px;
  opacity: 1;
}
