<div class="detail-block">
    <div class="logoCafe-block">
        <img ng-src="{{vm.serverUrl + vm.cafe.urlLogo}}" alt="logo-cafe"/>
    </div>
    <div class="info-cafe-block">
        <p class="name-cafe">
            <a id="cafe-title" ng-click="vm.cafeInfo(vm.cafe.id)">{{vm.cafeTitle(vm.cafe.type, vm.cafe.name)}}</a>
        </p>
        <div class="info-cafe-block__list">
            <div>
                <p class="adress">{{vm.cafe.address}}</p>
                <p class="distance">{{vm.cafe.distanceToUser}} км</p>
                <p class="purse">{{vm.cafe.classOfRestaurant}}</p>
            </div>
            <div>
                <p class="kitchen">
                    <span ng-repeat="kitchen in vm.cafe.kitchen">{{kitchen}}</span>
                </p>
                <p class="time-work-block" ng-bind="vm.openStatus(vm.cafe.workTime)"></p>
            </div>
            <div class="star-container">
                <div class="stars">
                    <form action="" class="rating-star">
                        <input class="star star-5" id="star-5" type="radio" name="star" ng-checked="vm.starCheck(5, vm.cafe.rating)"/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" ng-checked="vm.starCheck(4, vm.cafe.rating)"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" ng-checked="vm.starCheck(3, vm.cafe.rating)"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" ng-checked="vm.starCheck(2, vm.cafe.rating)"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" ng-checked="vm.starCheck(1, vm.cafe.rating)"/>
                        <label class="star star-1" for="star-1"></label>
                    </form>
                </div>
                <a ng-href="#" class="review">{{vm.cafe.numberOfReviews}} отзыв(а)</a>
                <div class="cover-star"></div>
            </div>
        </div>
    </div>
</div>
