<div class="popup-container ng-hide">
    <div class="popup" id="popupFilter">
        <div class="popup__close-link">
            <a href="#" ng-click="vm.Hide()"></a>
        </div>
        <div class="popup-container__inner-block">
            <form action="">
                <div class="popup-container__form">
                    <div ng-repeat="filterSection in vm.filters.parametrses" class="{{'List' + filterSection.id}}">
                        <p>{{filterSection.filterSectionName}}</p>
                        <ul><li ng-repeat="filter in filterSection.filtersList">
                            <input id="{{'filter' + filterSection.id + filter.id}}" type="checkbox" ng-model="filter.value" />
                            <label for="{{'filter' + filterSection.id + filter.id}}">{{filter.filterName}}</label>
                        </li></ul>
                    </div>
                    <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" name="star"/>
                        <label class="star star-5" for="star-5" ng-click="vm.setRating(5)"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star"/>
                        <label class="star star-4" for="star-4" ng-click="vm.setRating(4)"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star"/>
                        <label class="star star-3" for="star-3" ng-click="vm.setRating(3)"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star"/>
                        <label class="star star-2" for="star-2" ng-click="vm.setRating(2)"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star"/>
                        <label class="star star-1" for="star-1" ng-click="vm.setRating(1)"></label>
                    </div>
                    <div class="popup-container__rating">Рейтинг</div>
                </div>
                <div class="popup-container__button">
                 <!--   <a ng-href="#" class="popup-button green-button" ng-click="vm.searchFilter(vm.filters)">Поиск</a>-->
                    <button class="popup-button green-button" ng-click="vm.searchFilter(vm.filters)">Поиск</button>
                </div>
            </form>
        </div>
    </div>
</div>
