@m-gray: rgba(0,0,0,0.36);
@m-text-shadow: #010202;
@m-dark-green: rgba(141,171,36,1);
@m-light-green: rgba(169,212,55,1);
@m-white: #fff;
@m-dack-text: #010101;
@m-terracote: #885504;
@m-lightGreen: #86c30c;
@m-darkGreen: #567f04;
@m-darkWhite: #fefefe;
@m-grey: #b5b5b4;
@m-action-green: #889329;
@m-gray-1:#e8e9e6;
@m-black: #000;
@m-text-cl:#767676;
@m-white: #fff;
@m-opasity: rgba( 0, 0, 0, 0.169 );
@m-grey-1: rgb( 191, 191, 191 );
@m-darkGrey: rgb( 77, 77, 77);
@m-terracote: #885504;
@m-red: #b73907;