.flex {
  display: flex;
}
.wrapper {
  width: 1007px;
  height: 160px;
  margin: 0 auto;
}
#slider {
  width: 1007px;
  height: 160px;
  position: relative;
}
#slider .slider-content {
  width: 971px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
#slider .slider-list {
  width: 9999px;
  height: 160px;
  left: 0;
  position: absolute;
  flex-direction: row;
  display: flex;
  transition: 1000ms;
}
.slide-btn {
  background: url(img/radio-buttons-sprite.png) no-repeat 0 -18px;
  width: 20px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
}
.active-btn {
  background: url(img/radio-buttons-sprite.png) no-repeat 0 -1px;
}
.cover-slide-btn {
  text-align: center;
  padding: 15px 0 0 0;
}
.prev,
.next {
  background: url(img/next-prev.png) no-repeat 3px 0;
  width: 18px;
  height: 32px;
  float: left;
  display: inline-flex;
  position: relative;
  top: -93px;
  left: -20px;
}
.next {
  background: url(img/next-prev.png) no-repeat -14px 0;
  float: right;
  top: -93px;
  left: -18px;
}
.next:hover,
.prev:hover,
.slide-btn:hover {
  opacity: 0.8;
}
.action:before {
  content: '%';
  display: block;
  position: absolute;
  bottom: 7px;
  right: 9px;
  color: #fff;
  font-size: 29.61px;
  z-index: 1000;
}
.action span:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 63px 79px;
  border-color: transparent transparent #889329 transparent;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
