@import url(../../styles/variables);

p {
  color: gray;
}
.sub-main-h {
  font-size: 20px;
  color: @m-terracote;
  text-align: center;
  margin: 0 0 20px 0;
}
.red-color {
  color: @m-red;
  margin: 25px 0 20px 0;
}