@m-terracote: #885504;
@m-red: #b73907;
p {
  color: gray;
}
.main-h{
  font-size: 20px;
  color: @m-terracote;
  text-align: center;
  margin: 0 0 20px 0;
}
.red-color{
  color: @m-red;
  margin: 25px 0 0 0;
}