@import url(../../styles/variables);

.info-links {
  width: 995px;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 0 20px;
}
.popular-dishes-box {
  width: 231px;
  min-width: 231px;
  height: 160px;
  overflow: hidden;
  justify-content: center;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 0 15px 10px 0;
  &:last-child {
    margin-right: 0;
  }
}
.popular-dishes-box:after {
  content: '';
  width: 231px;
  height: 190px;
  display: block;
  background: -moz-linear-gradient(top,  rgba(252,171,57,0.99) 0%, rgba(252,171,57,0.98) 7%, rgba(252,176,72,0.91) 13%, rgba(253,187,106,0.73) 27%, rgba(253,189,111,0.68) 31%, rgba(253,190,113,0.65) 33%, rgba(252,195,123,0.58) 42%, rgba(251,201,137,0.52) 50%, rgba(252,203,143,0.47) 58%, rgba(252,203,143,0.46) 59%, rgba(251,202,142,0.43) 64%, rgba(249,199,137,0.4) 70%, rgba(249,199,136,0.4) 71%, rgba(248,186,108,0.34) 86%, rgba(248,186,108,0.34) 100%);
  background: -webkit-linear-gradient(top,  rgba(252,171,57,0.99) 0%,rgba(252,171,57,0.98) 7%,rgba(252,176,72,0.91) 13%,rgba(253,187,106,0.73) 27%,rgba(253,189,111,0.68) 31%,rgba(253,190,113,0.65) 33%,rgba(252,195,123,0.58) 42%,rgba(251,201,137,0.52) 50%,rgba(252,203,143,0.47) 58%,rgba(252,203,143,0.46) 59%,rgba(251,202,142,0.43) 64%,rgba(249,199,137,0.4) 70%,rgba(249,199,136,0.4) 71%,rgba(248,186,108,0.34) 86%,rgba(248,186,108,0.34) 100%);
  background: linear-gradient(to bottom,  rgba(252,171,57,0.99) 0%,rgba(252,171,57,0.98) 7%,rgba(252,176,72,0.91) 13%,rgba(253,187,106,0.73) 27%,rgba(253,189,111,0.68) 31%,rgba(253,190,113,0.65) 33%,rgba(252,195,123,0.58) 42%,rgba(251,201,137,0.52) 50%,rgba(252,203,143,0.47) 58%,rgba(252,203,143,0.46) 59%,rgba(251,202,142,0.43) 64%,rgba(249,199,137,0.4) 70%,rgba(249,199,136,0.4) 71%,rgba(248,186,108,0.34) 86%,rgba(248,186,108,0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcab39', endColorstr='#57f8ba6c',GradientType=0 );
  background-size: cover;
}
.cover-info-links {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
  flex-direction: column;
}
.popular-dishes-box span {
  font-size: 16px;
  color: @m-dack-text;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 93%;
  padding: 12px 0 0 0;
  font-weight: bold;
}
.popular-dishes-box span:hover {
  opacity: 0.8;
}
