@import url(../../../styles/variables);

div.block-filter {
    width: 250px;
    font-size: 12px;
    line-height: 1.5;

   p {
     padding: 20px 0 15px 0;
     font-size: 14px;
     font-weight: bold;
     color : @m-black;
   }

   .List1 p {
     padding-top: 0;
   }

  input {
    margin: 0 5px 0 0;
    border-radius: 1px;
    background-color: @m-light-grey;
    -webkit-box-shadow:inset 0 2px 0 4px rgba(0,0,0,1), 0 1px 0 0 rgb( 255, 255, 255 );
    box-shadow:inset 0 2px 0 4px rgba(0,0,0,1), 0 1px 0 0 rgb( 255, 255, 255 );
  }

  .List6 {
    display: none;
  }

  .List5 {
    margin-top: 30px;

    p {
      display: none;
    }
  }
}

.filterKitchen p {
   padding-top: 0;
}
input {
  margin: 0 5px 0 0;
}
 .filtName {
   display: flex;
   align-items: center;
 }
 .filterOther {
   margin: 30px 0;
   div {
     margin: 0 0 15px 0;
   }
 }
