* {
  margin: 0;
  padding:0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@m-white: #fff;
@m-grey: #b5b5b4;
footer {
  display: flex;
  justify-content:  space-between;
  align-items: flex-end;
  padding: 20px 20px 35px 20px;
  font: bold 11px sans-serif;
  line-height: 1.8;
  color: @m-white;
  background-color: @m-grey;

  h3{
    margin: 0 0 10px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid @m-white;
  }
  ul{
    display: flex;
    list-style-type: none;
  }
  li{
    padding: 0 70px 0 0;
    width: 100%;
    ul{
      display: block;
    }
  }
  a{
  color: @m-white ;
  }
  span {
  font-size: 9px;
  }
}
