<!DOCTYPE html>
<html ng-app="menu" ng-strict-di>
<head lang="en">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">

    <title>Menu</title>
</head>
<body>
    <preloader></preloader>
    <app-header></app-header>
    <ui-view></ui-view>
    <app-footer></app-footer>
</body>
</html>
