@m-grey: rgb( 191, 191, 191 );
.info-container {
   display: flex;
  margin: 7px 20px;
  .info-container-main {
    width: 80%;
    border-right: 1px solid @m-grey;
  }
}
.name-cafe {
    a {
      &:hover {
        cursor: pointer;
      }
      &:after {
        content: url("img/information.png");
        padding-left: 2px;
      }
    }
}
