<div class="info-container">
    <div class="info-container__module">
        <cafe-headline cafe="vm.cafe"></cafe-headline>
        <div class="info-container__module__block">
            <dish-groups cafe="vm.cafe"></dish-groups>
            <div class="dish-container">
                <div class="dish-container__sorting">
                    <label for="sortMenu">Сортировать</label>
                    <select id="sortMenu"  ng-model="sortParam" ng-init="reverse=false">
                        <option value="likke" ng-click="reverse=false">по рейтингу</option>
                        <option value="price" ng-click="reverse=false">сначала дешевые</option>
                        <option value="price" ng-click="reverse=true">сначала дорогие</option>
                        <option value="name" ng-click="reverse=false">А &rarr; Я</option>
                        <option value="name" ng-click="reverse=true">Я &rarr; А</option>
                    </select>
                </div>
                <dish-preview ng-repeat="dish in vm.menu | filter:{category:vm.dishFilter} | orderBy:sortParam:reverse" dish="dish" ng-click="vm.checkClassPopup()"></dish-preview>
            </div>
        </div>
    </div>
    <cafe-basket></cafe-basket>
</div>
<div class="dish-popup__container ng-hide">
    <div class="dish-popup__block" id="carousel">
        <a href="" class="arrow previous" ng-click="vm.previous()"></a>
        <div class="gallery__container">
            <div class="dish-gallery">
                <dish-preview  ng-repeat="dish in vm.menu" dish="dish" class="dish-popup__inner"></dish-preview>
            </div>
        </div>
        <a href="" class="arrow next1" ng-click="vm.next()"></a>
        <div class="close-link">
            <a href="" ng-click="vm.hideDish()"></a>
        </div>
    </div>
</div>
