results {
  display: flex;
  padding: 30px 20px;

  .results-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.gray-container {
  height: 35px;
  background-color: @m-gray-1;
  width: 1388px;
  top: -30px;
  position: relative;
  box-sizing: border-box;
  padding: 0 5px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
