@m-ta-gray:#e8e9e6;
results {
  display: flex;
  padding: 30px 20px;

  .results-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.ta-gray-container{
  height: 35px;
  background-color:@m-ta-gray;
  width:1388px;
  top: -30px;
  position: relative;
  box-sizing:border-box;
  padding-left:5px;
  padding-right:5px;
  align-items:center;
  align-content:center;
  justify-content:space-around;
}
